{{ define "main" }}
<!-- category post -->
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 mt-5 d-none d-sm-block">
        {{ partial "home-sidebar-left.html" . }}
      </div>
      <div class="col-lg-8 mt-5 shadow  p-4 mb-5 bg-white rounded">
        <div class="section-heading">
          <h5>{{.Title}}</h5>
        </div>

        <div id="search-results"></div>
        <script id="search-result-template" type="text/x-js-template">
          <ul class="search-result list-unstyled" id="summary-${key}">
            <li class="border-bottom mb-4 pb-3">
              <h4><a class="text-dark" href="${link}">${title}</a></h4>
              <p>${snippet}</p>
              ${ isset tags }<p>Tags: ${tags}</p>${ end }
              ${ isset categories }<p>Categories: ${categories}</p>${ end }
            </li>
          </ul>
        </script>

      </div>
      <!-- /blog post -->
      <div class="col-lg-2 mt-5">
        {{ partial "home-sidebar-right.html" . }}
      </div>

    </div>

  </div>
  </div>
</section>
<!-- /category post -->

{{ end }}